// FONTS 
$primary-font: 'Poppins San Serif';
$secondary-font: 'RaleWay San Serif';
$about-tittle-font-italic: 'Open San';
$open-san-bold: 'Open San Bold';
$poppins-font: 'Poppins Sans Serif';


// COLORS
$primary-color: #5FCF80;
$primary-color-light: #7FD999;
$links-color: #535C56;
$about-tittle-color: #444444;
$choose-text-color: #212529;
$footer-head-color: #37423B;
$footer-p-color: #7B797B;