@font-face {
    font-family: 'Poppins San Serif';
    src: url(../../Media/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: RaleWay San Serif;
    src: url(../../Media/fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: Open San;
    src: url(../../Media/fonts/Open\ Sans/OpenSans_Condensed-MediumItalic.ttf);
}
@font-face {
    font-family: Open San Bold;
    src: url(../../Media/fonts/Open\ Sans/OpenSans-Bold.ttf;)
}
@font-face {
    font-family: Poppins Sans Serif;
    src: url(../../Media/fonts/Poppins/Poppins-Medium.ttf);
}